
@media screen and (max-width: 900px) {
    header{
        width: 100%;
        height: 15vh;
        flex-wrap: wrap;
    }
    nav_bar{
        max-width: 100%;
        height: 40px;
        flex-wrap: wrap;
    }
    .nav_bar_divded1 ul li{
        display: inline;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav_bar_divded2{
        width: 42%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .pivture_next_div1 img{
        width: 100%;
        height: 320px;
        flex-wrap: wrap;
    }
    .pivture_next_div2 h2{
        font-size: 25px;
        font-weight: 600;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container{
        max-width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .put{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .left_end_divs h4{
        display: none;
    }
    .pivture_next_div2{
        width: 480px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .four_divded{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .four_divded1{
        width: 100%;
        height: auto;
       flex-wrap: wrap;
       justify-content: center;
    }
    .picture_img3 img{
        width: 100%;
        height: 150px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .smal_picture_and_div1{
        width: 470px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .picture_img2{
        width: 300px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .four_divded2{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .smal_picture_and_div2{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .left_end_divs2{
        width: 200px;
        height: auto;
        flex-wrap: wrap;
    }
    .left_end_divs2 button{
        width: 70%;
        height: 7vh;
        font-size: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .left_end_divs1{
        width: 315px;
        height: auto;
        margin-left: -0px;
        flex-wrap: wrap;
    }
    .left_end_divs{
        width: 315px;
        height: auto;
        margin-left: -0px;
        flex-wrap: wrap;
    }
    .left_end_divs2{
        width: 313px;
        height: auto;
        margin-left: -0px;
        flex-wrap: wrap;
    }
    .container_center2{
        width: 24%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .picture_top_message{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media screen and (max-width: 600px) {
    header{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container_center2{
        display: none;
    }
    ul{
        display: none;
    }
    .four_divded{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .four_divded1{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .smal_picture_and_div1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .picture_img2{
        width: 220px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .picture_img1 img{
        width: 120px;
        height: 120px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .four_divded2{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hold{
        width: 915px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}