*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: aqua; */
}
nav_bar{
    width: 91%;
    height: 40px;
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}
.nav_bar_divded1{
    width: 58%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: yellowgreen; */
    flex-wrap: wrap;
}
.nav_bar_divded1 h1{
    font-size: 18px;
    color: #2a18cb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.nav_bar_divded1 .uz{
    width: 27px;
    height: 27px;
    background: #151564;
    color: #fff;
    font-size: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_bar_divded1 ul li{
    display: inline;
    margin: 5px;
    font-weight: 600;
    font-size: 12px;
    flex-wrap: wrap;
}
.nav_bar_divded2{
    width: 42%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background: red;     */
    flex-wrap: wrap;
}
select{
    width: 70px;
    height: 25px;
    background: #dbdbdb;
    border: none;
    border-radius: 10px;
}
select:focus{
    outline: none;
}
.container{
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: yellowgreen; */
}
.hold{
    width: 915px;
    height: 200vh;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
}
.container_center1{
    width: 76%;
    height: 200vh;
    /* background: purple; */
}
.put{
    width: 100%;
    height: 65vh;
    display: flex;
    /* background: pink; */
}
.pivture_next_div1 img{
    width: 350px;
    height: 320px;
    flex-wrap: wrap;
}
.pivture_next_div2{
    width: 350px;
    height: 320px;
    padding-left: 20px;
    background: #d1d1d1;
}
.pivture_next_div2 h4{
    font-size: 15px;
    color: #b2b2b2;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.pivture_next_div2 h2{
    font-size: 20px;
    font-weight: 600;
    color: #1c0f83;
    flex-wrap: wrap;
}
.pivture_next_div2 h2:hover{
    color: blue;
    transition: 1s;
}
.pivture_next_div2 p{
    font-size: 16px;
    color: #949494;
    flex-wrap: wrap;
}
.four_divded{
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    /* background: brown; */
    flex-wrap: wrap;
    justify-content: center;
}
.four_divded1{
    width: 100%;
    height: 165px;
    display: flex;
    /* background: #ff00cc; */
}
.smal_picture_and_div1{
    width: 345px;
    height: 163px;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background: palevioletred; */
}
.picture_img1 img{
    width: 120px;
    height: 120px;
    flex-wrap: wrap;
}
.picture_img2{
    width: 230px;
    height: 122px;
    padding-left: 5px;
    /* background: blue; */
}
.picture_img2 h4{
    font-size: 14px;
    color: #949494;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.picture_img2 h3{
    font-size: 15px;
    color: #122dc6;
    padding-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.picture_img2 h3:hover{
    color: #2a18cb;
    transition: 1s;
}
.hr{
    width: 95%;
    height: 1.2px;
    background: #616161;
    flex-wrap: wrap;
    justify-content: center;
}
.smal_picture_and_div2{
    width: 345px;
    height: 163px;
    /* background: red; */
}
.four_divded2{
    width: 100%;
    height: 165px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fefeff;
}
.picture_top_message{
    width: 100%;
    height: 320px;
    /* background: aqua; */
}
.left_right_message1{
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: pink; */
}
.left_right_message1 h1{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c0f83;
    font-size: 16px;
    flex-wrap: wrap;
}
.left_right_message2{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #554158; */
}
.three_picture{
    width: 225px;
    height: 265px;
    display: flex;
    flex-direction: column;
    /* background: red; */
}
.one_picture img{
    width: 225px;
    height: 150px;
}
.one_message{
    width: 225px;
    height: 115px;
    /* background: brown; */
}
.one_message h4{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7e7e7e;
    font-size: 13px;
    flex-wrap: wrap;
}
.one_message h3{
    color: #151564;
    font-size: 15px;
    font-weight: 600;
    flex-wrap: wrap;
}

/* left_end_divs */

.container_center2{
    width: 24%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: yellow; */
}
.left_end_divs1{
    width: 219px;
    height: 105px;
    /* background: red; */
    margin-left: 10px;
}
.left_end_divs1 h1{
    color: #1c0f83;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.left_end_divs1 h4{
    color: #7e7e7e;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.left_end_divs1 h3{
    color: #1c0f83;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.left_end_divs{
    width: 219px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    /* background: red; */
}
.left_end_divs h1{
    color: #1c0f83;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.left_end_divs h4{
    color: #7e7e7e;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.left_end_divs h3{
    color: #1c0f83;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.left_end_divs2{
    width: 219px;
    height: 70px;
    /* background: red; */
    margin-left: 10px;
    display: flex;
    align-items: start;
}
.left_end_divs2 button{
   width: 85%;
   height: 9vh;
   border: none;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background: grey;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}