*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: aqua; */
}

.container{
    width: 100%;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: yellowgreen; */
}
.hold{
    width: 1400px;
    height: 177vh;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
}
.container_center1{
    width: 76%;
    height: 177vh;
    /* background: purple; */
}
.put{
    width: 100%;
    height: 55vh;
    display: flex;
    /* background: pink; */
}
.pivture_next_div1 img{
    width: 80vh;
    height: 400px;
    flex-wrap: wrap;
}
.pivture_next_div2{
    width: 100%;
    height: 400px;
    padding-left: 20px;
    background: #d1d1d1;
}
.pivture_next_div2 h4{
    font-size: 20px;
    color: #6a6a6a;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.pivture_next_div2 h2{
    font-size: 30px;
    font-weight: 600;
    color: #100754;
    flex-wrap: wrap;
}
.pivture_next_div2 h2:hover{
    color: blue;
    transition: 1s;
}
.pivture_next_div2 p{
    font-size: 20px;
    color: #504f4f;
    flex-wrap: wrap;
}
.four_divded{
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    /* background: brown; */
    flex-wrap: wrap;
}
.four_divded1{
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    /* background: #ff00cc; */
}
.smal_picture_and_div1{
    width: 550px;
    height: 163px;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background: palevioletred; */
}
.picture_img1 img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    flex-wrap: wrap;
}
.picture_img2{
    width: 250px;
    height: 150px;
    padding-left: 10px;
    /* background: blue; */
    flex-wrap: wrap;
}
.picture_img3 img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.picture_img4{
    width: 250px;
    height: 150px;
    padding-left: 10px;
    /* background:blue; */
}
.picture_img4 h4{
    font-size: 20px;
    color: #949494;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.picture_img2 h4{
    font-size: 20px;
    color: #949494;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.picture_img2 h3{
    font-size: 20px;
    color: #10104e;
    padding-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.picture_img2 h3:hover{
    color: #270ee6;
    transition: 1s;
}
.hr{
    width: 95%;
    height: 1.2px;
    background: #616161;
    flex-wrap: wrap;
    justify-content: center;
}
.smal_picture_and_div2{
    width: 100%;
    height: 163px;
    /* background: aqua; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.four_divded2{
    width: 100%;
    height: 165px;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}
.picture_top_message{
    width: 1030px;
    height: 450px;
    /* background: aqua; */
    flex-wrap: wrap;
}
.left_right_message1{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: pink; */
}
.left_right_message1 h1{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c0f83;
    font-size: 25px;
    flex-wrap: wrap;
}
.left_right_message2{
    width: 1030px;
    height: 390px;
    display: flex;
    /* background: #554158; */
    justify-content: space-between;
}
.three_picture{
    width: 330px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: red; */
}
.one_picture img{
    width: 100% ;
    height: 220px;
    flex-wrap: wrap;
}
.one_message{
    width: 330px;
    height: 165px;
    /* background: brown; */
    flex-wrap: wrap;
}
.one_message h4{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7e7e7e;
    font-size: 20px;
    flex-wrap: wrap;
}
.one_message h3{
    color: #090941;
    font-size: 22px;
    font-weight: 600;
    flex-wrap: wrap;
}
.one_message h3:hover{
    color: #270ee6;
    transition: 1s;
}

/* left_end_divs */

.container_center2{
    width: 24%;
    height: 177vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: yellow; */
}
.left_end_divs1{
    width: 315px;
    height: 150px;
    /* background: red; */
    margin-left: 10px;
}
.left_end_divs1 h1{
    color: #1c0f83;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 5px;

    
    flex-wrap: wrap;
}
.left_end_divs1 h4{
    color: #7e7e7e;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.left_end_divs1 h3{
    color: #1c0f83;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.left_end_divs1 h3:hover{
    color: #270ee6;
    transition: 1s;
}
.left_end_divs{
    width: 315px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    background: #f8f8f8
}
.left_end_divs h1{
    color: #1c0f83;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.left_end_divs h4{
    color: #7e7e7e;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.left_end_divs h3{
    color: #1c0f83;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.left_end_divs h3:hover{
    color: #270ee6;
    transition: 1s;
}
.left_end_divs2{
    width: 313px;
    height: 80px;
    /* background: red; */
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.left_end_divs2 button{
   width: 85%;
   height: 9vh;
   border: none;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background: grey;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
}