*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.twise{
    width: 100%;
    height: 130vh;
    /* background: yellowgreen; */
}
.political{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: blue; */
}
.political_div1{
    width: 1080px;
    height: 120vh;
    overflow-y: scroll;
    /* background: purple; */
}
.screen_div{
    width: 100%;
    height: 450px;
    display: flex;
    background: #c8c8c8;
}
.initial_part1 img{
    width: 500px;
    height: 398px;
    background: black;
    flex-wrap: wrap;
}
.initial_part1 h1{
    width: 100%;
    height: 7vh;
    font-size: 25px;
    color: #121243;
    display: flex;
    align-items: center;
    gap: 10px;
}
.initial_part2{
    width: 500px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    /* background: green; */
}
.initial_part2 h5{
    color: #7b7b7b;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.initial_part2 h3{
    color: #121243;
    font-size: 30px;
    flex-wrap: wrap;
}
.initial_part2 h3:hover{
    color: #0a0abb;
    transition: 1s;
}
.initial_part2 p{
    color: #7b7b7b;
    font-size: 20px;
    flex-wrap: wrap;
}
.long_div1{
    width: 1062px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: aqua; */
}
.four_divded3{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    /* background: red; */
}
.political_div2{
    width: 320px;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: brown; */
}