@media screen and (max-width: 900px) {
    .twise{
        max-width: 100%;
        height: auto;
    }
    .political{
        width: 100%;
        height: auto;
        display: flex;
    }
    .political_div1{
       max-width: 100%;
       height: 120vh;
       overflow-y: scroll;
    }
    .screen_div{
        max-width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .initial_part1 img{
        width: 100%;
        height: 270px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .initial_part2{
        width: 445px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .political_div2{
        width: 240px;
        height: 120vh;
        flex-wrap: wrap;
        justify-content: center;
    }
    .long_div1{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .four_divded3{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .political_div2{
        max-width: 100%;
        height: 120vh;
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media screen and (max-width: 600px) {
    header{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container_center2{
        display: none;
    }
    ul{
        display: none;
    }
    .political_div2{
        display: none;
    }
    .samler{
        width: 100%;
        height: 300px;
        flex-wrap: wrap;
    }
}