*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    /* border: 2px solid red; */
}

header nav{
    width: 91%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid blue; */
   
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

header nav ul li{
    font-size: 13px;
}

@media screen and (max-width:900px) {
    header{
        max-width: 90%;
       
    }
    header nav {
        width: 100%;
        flex-wrap: wrap;
    }
    header nav ul{
       
        flex-wrap: wrap;
    }
}

@media screen and (max-width:600px) {
    header nav ul{
        display: none;
    }
}